## Datasets

### Children's Book Test(CBT)
https://research.facebook.com/downloads/babi/ <br>
download link (134MB): <br>
http://www.thespermwhale.com/jaseweston/babi/CBTest.tgz <br>

### Intermediate Dataset
Science Fiction dataset (1.21GB): <br>
https://github.com/nschaetti/SFGram-dataset <br>
Fanfiction (largely written by adolescents) (725GB) (selected): <br> 
https://www.kaggle.com/metrovirus/fanfictionnet

### Adult Reading
BBC News: <br>
https://www.kaggle.com/c/learn-ai-bbc (can not use) <br>
All the news (669.64MB) (selected): <br>
https://www.kaggle.com/datasets/snapcrack/all-the-news

## How to download data to your Github

In [8]:
# create a data folder
!mkdir raw_data

mkdir: raw_data: File exists

In [9]:
# Download data from OneDrive and move the data to raw_data folder
# https://entuedu-my.sharepoint.com/:f:/g/personal/yang047_e_ntu_edu_sg/EtJcTA5lzDRNkwtHE0W8FAwBcDjnCHghMYNq6UCd2t82lA?e=2BoJ3w

In [10]:
# Please add to your github's .gitigonore file
# raw_data/
# So your github will not trying to upload these large data files to web

## Data Checking and Preprocessing

In [41]:
# working with CSV formated dataset
# for Allthenew, we only need the title and the content
import pandas as pd
import csv
import sys
csv.field_size_limit(sys.maxsize)

131072

### Adult set - Allthenews

In [19]:
data_loc = "raw_data"
adult_loc = "/Allthenews"

In [54]:
#check data in pandas
df = pd.read_csv(data_loc + adult_loc +'/articles1.csv',index_col=0)

In [55]:
df.head(3)

,id,title,publication,author,date,year,month,url,content
0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."

In [56]:
# create a small file for testing
df.head(3).to_csv(data_loc + adult_loc +'/test.csv',index=False)

In [72]:
# convert csv file to text file
def csv_converter(input_file, output_file):
    
    with open(input_file, newline='', ) as csvfile:
        spamreader = csv.DictReader(csvfile, delimiter=',')

        with open(output_file, 'w') as f:

            for row in spamreader:
                # print(row['id'])
                # print(row['title'])
                # print(row['content'])

                # process the csv file into text file like wiki-text
                f.write(row['id'])
                f.write('\n')
                f.write(row['title'])
                f.write('\n')
                f.write(row['content'])
                f.write('\n')
                f.write('\n')

In [73]:
# test the funciton on small test setß
test_input = data_loc + adult_loc +'/test.csv'
test_output = data_loc + adult_loc+'/test.txt'

In [74]:
csv_converter(test_input, test_output)

In [77]:
# loop over all news files
Allthenews_filenames = ['articles1', 'articles2', 'articles3']

In [78]:
# convert all Allthenews files
# take about 30 seconds
for name in Allthenews_filenames:
    csv_input = data_loc + adult_loc + "/" + name + '.csv'
    text_output = data_loc + adult_loc + "/" + name + '.txt'
    csv_converter(csv_input, text_output)

### Child set - child_CBT
file already in text format

### Intermediate set - fanfiction

In [80]:
interm_loc = "/fanfiction/stories"

In [81]:
harrypotter_loc = "/book/Harry-Potter.csv"

In [85]:
data_loc + interm_loc + harrypotter_loc

'raw_data/fanfiction/stories/book/Harry-Potter.csv'

In [88]:
#check data in pandas
df2 = pd.read_csv(data_loc + interm_loc + harrypotter_loc, on_bad_lines='skip')

In [89]:
df2.head(3)

                                                                                                                                                                                                                                                                                                                                                                   section\tsubsection\tstory\tauthor\tstory_id\tauthor_id\tlanguage\tcategory\trated\tchapter_count\treview_count\tword_count\tfav_count\tfollow_count\tpublished\tupdated\tdescription
book\tHarry-Potter\t/s/13094923/3/Marauders-Lig... 624\t1\t5\t1539719594\t1542484032\tJames            Sirius                                             Remus and Peter are starting their fifth year ...  they must deal with the struggles of their tee...  family and friends. And all the time               the threat from the outside world gets stronger   and the Marauders must search inside their he...
book\tHarry-Potter\t/s/13111439/2/Novi-recentes... 017\t\t\t\t\t'Everyone knew everyone. Well          almost everyone.' You would expect someone lik...  a world Katie and her family aren't part of.      NaN                                                NaN                                                NaN                                                                                             NaN
book\tHarry-Potter\t/s/13120043/6/The-End-of-th... 931\t5\t8\t1542108843\t1542483515\tThe order of...  including Lily Evans and Sirius Black              broken with the grief of James Potters death       along with many of their friends. But when a n...  the order reunites once more to fight one last... NaN                                                                                             NaN